<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = 'front-page'>
        <h1>Success!</h1>
        <h2>Now import this file into your preferred Calendar App</h2>
        <button type="button" onclick="location.replace('success/download')">Download</button>
    </div>
</body>
</html>